html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 1.6rem;
  font-family: "Cinzel Decorative", serif; }

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Raleway", sans-serif; }

img {
  max-width: 100%; }

/* --------------------------------
Header
-------------------------------- */
.nav {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  padding: 1.25em 1.25em;
  background: transparent;
  justify-content: flex-start;
  flex-direction: column; }
  .nav .top-nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
    .nav .top-nav .left-nav {
      display: flex; }
    .nav .top-nav #name {
      color: #e9f1ff;
      font-size: 2rem;
      font-weight: 600; }
    .nav .top-nav .right-nav {
      display: flex; }
      @media only screen and (max-width: 767px) {
        .nav .top-nav .right-nav {
          display: none; } }
      @media only screen and (min-width: 768px) and (max-width: 1169px) {
        .nav .top-nav .right-nav {
          display: none; } }
    .nav .top-nav li {
      margin: 0 0.625em; }
    .nav .top-nav .dropdown {
      margin-top: -0.125em;
      cursor: pointer; }
      .nav .top-nav .dropdown img {
        width: 55px; }
      @media only screen and (min-width: 1170px) {
        .nav .top-nav .dropdown {
          display: none; } }

/* --------------------------------
Dropdown List
-------------------------------- */
.dropdown-container {
  display: none; }

.dropdown-nav {
  display: flex;
  width: 100vw;
  padding: 0.3125em 0.9375em;
  background-color: black;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center; }
  .dropdown-nav .dropdown-menu {
    height: 3.125em;
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: space-between;
    color: white;
    font-size: 0.5em; }
    .dropdown-nav .dropdown-menu li {
      margin: 0 0.625em; }

/* --------------------------------
Slider
-------------------------------- */
.cd-hero {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.cd-hero-slider {
  position: relative;
  height: 250px;
  overflow: hidden; }
  .cd-hero-slider li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
    .cd-hero-slider li.selected {
      position: relative;
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0); }
    .cd-hero-slider li.move-left {
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%); }
    .cd-hero-slider li.is-moving, .cd-hero-slider li.selected {
      -webkit-transition: -webkit-transform 0.5s;
      -moz-transition: -moz-transform 0.5s;
      transition: transform 0.5s; }
  @media only screen and (min-width: 768px) and (max-width: 1169px) {
    .cd-hero-slider {
      height: 450px; } }
  @media only screen and (min-width: 1170px) {
    .cd-hero-slider {
      height: 625px; } }

/* --------------------------------

Single slide style

-------------------------------- */
.cd-hero-slider li {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
.cd-hero-slider li:first-of-type {
  background-image: url("../img/bg-red.jpg"); }
.cd-hero-slider li:nth-of-type(2) {
  background-image: url("../img/bg-golden.jpg"); }
.cd-hero-slider li:nth-of-type(3) {
  background-image: url("../img/bg-morning.jpg"); }
  .cd-hero-slider li:nth-of-type(3) h2 {
    font-size: 3.5rem; }
.cd-hero-slider .cd-half-width {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  padding-top: 3.125em;
  text-align: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }
.cd-hero-slider .cd-img-container img {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  height: 15.625em; }
.cd-hero-slider h2, .cd-hero-slider p {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  line-height: 1.2;
  margin: 0 auto 14px;
  color: #ffffff;
  width: 90%;
  max-width: 400px;
  text-shadow: 1px 1px grey;
  text-rendering: optimizeLegibility; }
.cd-hero-slider h2 {
  font-size: 1.8rem;
  font-weight: 700; }
.cd-hero-slider p {
  font-size: 1.4rem;
  line-height: 1.4;
  font-family: "Raleway", sans-serif;
  font-weight: 800; }
.cd-hero-slider .cd-btn {
  display: inline-block;
  padding: 1em 1em;
  margin-top: .5em;
  background-color: rgba(184, 0, 0, 0.9);
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s; }
  .cd-hero-slider .cd-btn:nth-of-type(2) {
    margin-left: 1em; }
  .no-touch .cd-hero-slider .cd-btn:hover {
    background-color: #b80000; }
  .no-touch .cd-hero-slider .cd-btn.secondary:hover {
    background-color: #05080e; }
  @media only screen and (max-width: 767px) {
    .cd-hero-slider .cd-btn {
      display: none; } }
@media only screen and (max-width: 767px) {
  .cd-hero-slider .cd-half-width {
    display: none; }
  .cd-hero-slider li:first-of-type {
    background-image: url("../img/redrising-sm.jpg");
    background-size: contain; }
  .cd-hero-slider li:nth-of-type(2) {
    background-image: url("../img/goldenson-sm.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
  .cd-hero-slider li:last-of-type {
    background-image: url("../img/morningstar-sm.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden; } }
@media only screen and (min-width: 768px) and (max-width: 1169px) {
  .cd-hero-slider li:nth-of-type(3) h2 {
    font-size: 3rem; }
  .cd-hero-slider li:nth-of-type(2) h2 {
    font-size: 3rem;
    margin-top: 50px; }
  .cd-hero-slider .cd-half-width {
    padding-top: 10px;
    width: 45%; }
    .cd-hero-slider .cd-half-width:nth-of-type(3) {
      font-size: 50px; }
    .cd-hero-slider .cd-half-width:first-of-type {
      left: 5%; }
    .cd-hero-slider .cd-half-width:nth-of-type(2) {
      right: 5%;
      left: auto; }
  .cd-hero-slider .cd-img-container {
    display: block; }
  .cd-hero-slider h2, .cd-hero-slider p {
    max-width: 520px; }
  .cd-hero-slider h2 {
    font-size: 2em;
    font-weight: 300; }
  .cd-hero-slider p {
    font-size: 0.7em; }
  .cd-hero-slider .cd-btn {
    font-size: 1.2rem; } }
@media only screen and (min-width: 1170px) {
  .cd-hero-slider li:nth-of-type(2) h2 {
    margin-top: 40px; }
  .cd-hero-slider .cd-half-width {
    padding-top: 120px;
    width: 45%; }
    .cd-hero-slider .cd-half-width:first-of-type {
      left: 5%; }
    .cd-hero-slider .cd-half-width:nth-of-type(2) {
      right: 5%;
      left: auto; }
  .cd-hero-slider .cd-img-container {
    display: block; }
  .cd-hero-slider h2, .cd-hero-slider p {
    max-width: 520px; }
  .cd-hero-slider h2 {
    padding-top: 10px;
    font-size: 2.4em;
    font-weight: 300; }
  .cd-hero-slider .cd-btn {
    font-size: 1.4rem; } }

/* --------------------------------

Single slide animation

-------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 1169px) {
  .cd-hero-slider .cd-half-width {
    opacity: 0;
    -webkit-transform: translateX(40px);
    -moz-transform: translateX(40px);
    -ms-transform: translateX(40px);
    -o-transform: translateX(40px);
    transform: translateX(40px); }
  .cd-hero-slider .move-left .cd-half-width {
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    -o-transform: translateX(-40px);
    transform: translateX(-40px); }
  .cd-hero-slider .selected .cd-half-width {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  .cd-hero-slider .is-moving .cd-half-width {
    -webkit-transition: opacity 0s 0.5s, -webkit-transform 0s 0.5s;
    -moz-transition: opacity 0s 0.5s, -moz-transform 0s 0.5s;
    transition: opacity 0s 0.5s, transform 0s 0.5s; }
  .cd-hero-slider li.selected.from-left .cd-half-width:nth-of-type(2),
  .cd-hero-slider li.selected.from-right .cd-half-width:first-of-type {
    -webkit-transition: opacity 0.4s 0.2s, -webkit-transform 0.5s 0.2s;
    -moz-transition: opacity 0.4s 0.2s, -moz-transform 0.5s 0.2s;
    transition: opacity 0.4s 0.2s, transform 0.5s 0.2s; }
  .cd-hero-slider li.selected.from-left .cd-half-width:first-of-type,
  .cd-hero-slider li.selected.from-right .cd-half-width:nth-of-type(2) {
    -webkit-transition: opacity 0.4s 0.4s, -webkit-transform 0.5s 0.4s;
    -moz-transition: opacity 0.4s 0.4s, -moz-transform 0.5s 0.4s;
    transition: opacity 0.4s 0.4s, transform 0.5s 0.4s; }
  .cd-hero-slider li.selected h2 {
    -webkit-transition: opacity 0.4s 0.2s, -webkit-transform 0.5s 0.2s;
    -moz-transition: opacity 0.4s 0.2s, -moz-transform 0.5s 0.2s;
    transition: opacity 0.4s 0.2s, transform 0.5s 0.2s; }
  .cd-hero-slider li.selected p {
    -webkit-transition: opacity 0.4s 0.3s, -webkit-transform 0.5s 0.3s;
    -moz-transition: opacity 0.4s 0.3s, -moz-transform 0.5s 0.3s;
    transition: opacity 0.4s 0.3s, transform 0.5s 0.3s; }
  .cd-hero-slider li.selected .cd-btn {
    -webkit-transition: opacity 0.4s 0.4s, -webkit-transform 0.5s 0.4s, background-color 0.2s 0s;
    -moz-transition: opacity 0.4s 0.4s, -moz-transform 0.5s 0.4s, background-color 0.2s 0s;
    transition: opacity 0.4s 0.4s, transform 0.5s 0.4s, background-color 0.2s 0s; } }
/* --------------------------------

Javascript disabled

-------------------------------- */
.no-js .cd-hero-slider li {
  display: none; }
  .no-js .cd-hero-slider li.selected {
    display: block; }

.no-js .cd-slider-nav {
  display: none; }

/* --------------------------------

About section

-------------------------------- */
.about {
  margin: 0;
  padding: 0;
  height: 500px;
  width: 100vw;
  background-color: black;
  position: relative; }
  .about .pierce-img {
    height: 500px;
    background-image: url("../img/pierce.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto; }
    .about .pierce-img .about-box {
      height: 400px;
      width: 400px;
      background: transparent;
      position: absolute;
      top: 40px;
      right: 100px; }
      .about .pierce-img .about-box h2 {
        font-family: "Raleway", sans-serif;
        font-size: 1.5rem;
        color: black;
        text-align: center;
        margin-bottom: 0.625em;
        font-weight: bold; }
      .about .pierce-img .about-box p {
        font-family: "Raleway", sans-serif;
        font-size: 1.2rem;
        color: black;
        line-height: 1.3; }
        .about .pierce-img .about-box p:first-of-type {
          margin-bottom: 1.25em; }
      .about .pierce-img .about-box img {
        height: 10%;
        width: 15%;
        padding: 0 5px 0 0; }
        .about .pierce-img .about-box img:first-of-type {
          margin-left: 2.8125em; }

.signup {
  height: 120px;
  width: 100vw;
  background-color: black; }

/*# sourceMappingURL=app.css.map */
