// colors

$color-1: #111c35; //
$color-2: #d44457; //
$color-3: #ffffff; // White

// fonts

$primary-font: 'Cinzel', serif;
$secondary-font:'Raleway', sans-serif;

// header height

$header-S: 50px;
$header-M: 70px;

// intro height

$intro-height-S: 300px;
$intro-height-M: 400px;
$intro-height-L: 500px;

$S:     480px;
$M:     768px;
$L:     1170px;
