// colors

$color-1: #111c35; //
$color-2: #b80000; //
$color-3: #ffffff; // White
$color-4: -webkit-linear-gradient(top, black, #001d4c 30%, black);

// fonts

$primary-font: 'Cinzel Decorative', serif;
$secondary-font:'Raleway', sans-serif;

// header height

$header-S: 50px;
$header-M: 70px;

// intro height

$intro-height-S: 250px;
$intro-height-M: 450px;
$intro-height-L: 625px;
$intro-height-XL: 825px;


// breakpoints

$XS: 375px;
$S:  479px;
$M:  767px;
$L:  1169px;
$XL: 2200px;
