@import "libraries/bourbon/bourbon.scss";
@import "libraries/neat/neat.scss";
@import "_reset.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "_extends.scss";
@import "_reset.scss";

body {
	font: {
		size: 1.6rem;
		family: $primary-font;
	}
}

a {
	color: $color-3;
	text-decoration: none;
  font: {
		size: 1rem;
		family: $secondary-font;
	}
}

img {
	max-width: 100%;
}
/* --------------------------------
Header
-------------------------------- */
.nav {
  position: absolute;
  z-index: 2;
	top: 0;
	left: 0;
	width: 100vw;
  display: flex;
  padding: em(30px) em(30px);
  background: transparent;
  justify-content: flex-start;
  flex-direction: column;
	@include MQ(XS) {
		background: black;
		position: static;
		padding: em(10px) em(10px);
		border-bottom: 1px solid white;
	}
	@include MQ(S) {
		background: black;
		position: static;
		padding: em(10px) em(10px);
		border-bottom: 1px solid white;
	}
	@include MQ(M) {
		padding: em(20px) em(20px);
	}
	@include MQ(XL) {
		padding: em(40px) em(40px);
	}
  .top-nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .left-nav {
      display: flex;
    }
    #name {
      color: #e9f1ff;
      font-size: 2rem;
      font-weight: 600;
			@include MQ(XL) {
				font-size: 2.5rem;
				margin-left: em(30px);
			}
    }
    .right-nav {
      display: flex;
      @include MQ(XS) {
        display: none;
      }
			@include MQ(S) {
        display: none;
      }
      @include MQ(M) {
        display: none;
      }
			@include MQ(XL) {
				a {
					font-size: 25px;
				}
			}
    }
    li {
      margin: 0 em(10px);
			@include MQ(XL) {
				margin: 0 em(12px);
				&:last-of-type {
					margin-right: em(70px);
				}
			}
    }
    .dropdown {
      margin-top: em(-2px);
      cursor: pointer;
      img {
        width: 55px;
				margin-right: 40px;
      }
      @include MQ(L) {
        display: none;
      }
			@include MQ(XL) {
        display: none;
      }
    }
  }
}
/* --------------------------------
Dropdown List
-------------------------------- */
.dropdown-container {
  display: none;
}

.dropdown-nav {
  display: flex;
  width: 100vw;
  padding: em(5px) em(15px);
  background-color: black;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  .dropdown-menu {
    height: em(50px);

    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: space-between;
    color: white;
    font-size: 0.5em;
		font-family: $secondary-font;

    li {
      margin: 0 em(10px);
    }
  }
}


/* --------------------------------
Slider
-------------------------------- */

.cd-hero {
	position: relative;
	@include font-smoothing;
}

.cd-hero-slider {
	position: relative;
	height: $intro-height-S;
	overflow: hidden;
	li {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include transform(translateX(100%));


		&.selected {
			position: relative;
			@include transform(translateX(0));
		}

		&.move-left {
			@include transform(translateX(-100%));
		}

		&.is-moving,
		&.selected {
			@include transition(transform .5s);
		}
	}

	@include MQ(M) {
		height: $intro-height-M;
	}

	@include MQ(L) {
		height: $intro-height-L;
	}

	@include MQ(XL) {
		height: $intro-height-XL;
	}
}

/* --------------------------------

Single slide style

-------------------------------- */

.cd-hero-slider {

	li {
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}

  li:first-of-type {
    background-image: url("../img/bg-red.jpg");
		h2 {
			@include MQ(XL) {
				font-size: 5.5rem;
			}
  	}
  }

  li:nth-of-type(2) {
    background-image: url("../img/bg-golden.jpg");
		h2 {
			@include MQ(XL) {
				font-size: 5.5rem;
			}
		}
		img {
			@include MQ(XL) {
				margin-left: 100px;
				padding-bottom: 150px;
			}
  	}
  }

	li:nth-of-type(3) {
    background-image: url("../img/bg-morning.jpg");
    h2 {
  		font-size: 3.5rem;
			@include MQ(XL) {
				font-size: 5.5rem;
				margin-top: 50px;
			}
  	}
	}

	.cd-half-width {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
		left: 0;
		top: 0;
		padding-top: em(50px);
		text-align: center;
		@include backface-visibility(hidden);
		@include transform(translateZ(0));
		@include MQ(XL) {
			padding-top: em(100px);
		}
	}

	.cd-img-container {

		img {
			position: absolute;
			@include center;
			margin-top: 40px;
		}
	}

	h2, p {
		text-shadow: 0 1px 3px rgba(#000, .1);
		line-height: 1.2;
		margin: 0 auto 14px;
		color: $color-3;
		width: 90%;
		max-width: 400px;
    text-shadow: 1px 1px grey;
    text-rendering: optimizeLegibility;
		@include MQ(XL) {
			padding: 0;
		}
	}

	h2 {
		font-size: 1.8rem;
    font-weight: 700;
		@include MQ(XL) {
			padding: 0;
			font-size: 5rem;
		}
	}

	p {
		font-size: 1.4rem;
		line-height: 1.4;
    font-family: $secondary-font;
    font-weight: 800;
		@include MQ(XL) {
			padding: 0;
			font-size: 2.5rem;
		}
	}

	.cd-btn {
		display: inline-block;
		padding: 1em 1em;
		margin-top: .5em;
		background-color: rgba($color-2, .9);
		font-size: 0.9rem;
		font-weight: 700;
		letter-spacing: 1px;
		color: $color-3;
		box-shadow: 0 3px 6px rgba(#000, .1);
		@include transition(background-color .2s);

		&:nth-of-type(2) {
			margin-left: 1em;
		}

		.no-touch &:hover {
			background-color: $color-2;
		}

		.no-touch &.secondary:hover {
			background-color: darken($color-1, 10%);
		}

    @include MQ(XS) {
      display: none;
    }
		@include MQ(S) {
      display: none;
    }
	}

  @include MQ(XS) {

		.cd-hero {
			height: 70em;
			width: 100vw;
			position: fixed;

		}

    .cd-half-width {
      display: none;
    }

		.cd-hero-slider {
			margin-top: 10px;
			height: 100%;
			width: 100%;

		}

		li {
			border-bottom: 2px solid white;
			border-top: 1px solid white;
		}


    li:first-of-type {
      background-image: url("../img/redrising-sm.jpg");
      background-size: cover;
    }
    li:nth-of-type(2) {
      background-image: url("../img/goldenson-sm.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    li:last-of-type {
      background-image: url("../img/morningstar-sm.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
    }
  }

	@include MQ(S) {

		.cd-hero {
			height: 70em;
			width: 100vw;
			position: fixed;

		}

    .cd-half-width {
      display: none;
    }

		.cd-hero-slider {
			margin-top: 10px;
			height: 100%;
			width: 100%;

		}

		li {
			border-bottom: 2px solid white;
			border-top: 1px solid white;
		}


    li:first-of-type {
      background-image: url("../img/redrising-sm.jpg");
      background-size: cover;
    }
    li:nth-of-type(2) {
      background-image: url("../img/goldenson-sm.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    li:last-of-type {
      background-image: url("../img/morningstar-sm.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
    }
  }

	@include MQ(M) {



    li:nth-of-type(3) {
      h2 {
    		font-size: 1.2em;
    	}
    }

    li:nth-of-type(2) {
      h2 {
    		// font-size: 3rem;
        margin-top: 38px;
    	}
    }

		.cd-half-width {
			padding-top: em(55px);
			width: 45%;

      &:nth-of-type(3){
        font-size: 50px;
      }


			&:first-of-type {
				left: 5%;
			}

			&:nth-of-type(2) {
				right: 5%;
				left: auto;
			}
		}

		.cd-img-container {
			display: block;
			img {
				height: em(200px);
				margin-top: 30px;
			}
		}

		h2, p {
			max-width: 520px;
		}

		h2 {
			font-size: 1.3em;
			font-weight: 300;
		}

    p {
      font-size: 0.7em;
    }

		.cd-btn {
			font-size: 1.2rem;

		}
	}

	@include MQ(L) {

    li:nth-of-type(2) {
      h2 {
        margin-top: 40px;
      }
    }

    .cd-half-width {
      padding-top: 120px;
      width: 50%;

      &:first-of-type {
        left: 5%;
      }

      &:nth-of-type(2) {
        right: 5%;
        left: auto;
      }
    }

    .cd-img-container {
      display: block;
    }

    h2, p {
      max-width: 520px;
    }

    h2 {
      padding-top: 10px;
      font-size: 2.4em;
      font-weight: 300;
    }

    .cd-btn {
      font-size: 1.4rem;
    }
  }


	@include MQ(XL) {

		li:nth-of-type(2) {
			h2 {
				margin-top: 200px;
			}
		}

		.cd-half-width {
			width: 50%;

			&:first-of-type {
				left: 5%;
				margin-top: 80px;
			}

			&:nth-of-type(2) {
				right: 10%;
				left: auto;
			}

		}

		.cd-img-container {
			height: 600px;
			width: 450px;
			img {
				margin-top: 250px;
				width: 100%;
			}

		}

		h2, p {
			max-width: 1100px;
			padding: 0;
		}

		h2 {
			padding-top: 10px;
			font-size: 2.4em;
			font-weight: 300;
		}

		.cd-btn {
			font-size: 1.4rem;
		}
	}
}

/* --------------------------------

Single slide animation

-------------------------------- */

@include MQ(M) {
	.cd-hero-slider {

		.cd-half-width {
			opacity: 0;
			@include transform(translateX(40px));
		}

		.move-left .cd-half-width {
			@include transform(translateX(-40px));
		}

		.selected .cd-half-width {
			opacity: 1;
			@include transform(translateX(0));
		}

		.is-moving .cd-half-width {
			@include transition(opacity 0s .5s, transform 0s .5s);
		}

		li.selected.from-left .cd-half-width:nth-of-type(2),
		li.selected.from-right .cd-half-width:first-of-type {
			@include transition(opacity .4s .2s, transform .5s .2s);
		}

		li.selected.from-left .cd-half-width:first-of-type,
		li.selected.from-right .cd-half-width:nth-of-type(2) {
			@include transition(opacity .4s .4s, transform .5s .4s);
		}

		li.selected h2 {
			@include transition(opacity .4s .2s, transform .5s .2s);
		}

		li.selected p {
			@include transition(opacity .4s .3s, transform .5s .3s);
		}

		li.selected .cd-btn {
			@include transition(opacity .4s .4s, transform .5s .4s, background-color .2s 0s);
		}
	}
}

/* --------------------------------

Javascript disabled

-------------------------------- */
.no-js .cd-hero-slider li {
	display: none;

	&.selected {
		display: block;
	}
}

.no-js .cd-slider-nav {
	display: none;
}

/* --------------------------------

About section

-------------------------------- */

.about {
  margin: 0;
  padding: 0;
  height: em(300px);
  width: 100vw;
  background-color: black;
	height: em(300px);
	width: 100vw;

	.pierce-img-xl {
		height: 100%;
		width: 60%;
		background-image: url("../img/pierce.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		@include MQ(S) {
			display: none;
		}
		@include MQ(XS) {
			display: none;
		}
		@include MQ(M) {
			display: none;
		}
		@include MQ(L) {
			display: none;
		}
	}

	@include MQ(XL) {
		height: 625px;
	}

	@include MQ(XS) {
		height: 275px;
		border-bottom: 2px solid white;
	}

	@include MQ(S) {
		height: 325px;
		border-bottom: 2px solid white;

	}
  .pierce-img {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("../img/pierce.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    .about-box{
      height: em(300px);
      width: em(300px);
      background: transparent;
      position: absolute;
      top: em(40px);
      right: em(30px);
			@include MQ(XS) {
				height: 150px;
				width: 300px;
				top: 120px;
				right: 0;
			}
			@include MQ(S) {
				height: 175px;
				width: 350px;
				top: 150px;
				right: 0;
			}
			@include MQ(M){
				height: 450px;
				width: 325px;
				top: 50px;
				right: 30px;
			}
			@include MQ(XL){
				height: 100%;
				width: 35%;
				top: 50px;
				right: 30px;
			}
      h2 {
        font-family: $secondary-font;
        font-size: 1.5rem;
        color: black;
        text-align: center;
        margin-bottom: em(10px);
        font-weight: bold;
				@include MQ (XL) {
					font-size: 2.5rem;
				}
				@include MQ (M) {
					font-size: 1.8rem;
				}
				@include MQ(XS) {
					margin-bottom: em(2px);
					text-align: right;
					margin-right: 30px;
					&:first-of-type {
						display: none;
					}
				}
				@include MQ(S) {
					margin-bottom: em(2px);
					text-align: right;
					margin-right: 30px;
					&:first-of-type {
						display: none;
					}
				}
      }
			h3 {
				font-family: $secondary-font;
				font-size: 1.5rem;
				text-align: right;
				margin-bottom: em(10px);
				margin-right: 30px;
				@include MQ (M) {
					display: none;
				}
				@include MQ (L) {
					display: none;
				}
				@include MQ (XL) {
					display: none;
				}
			}
      p {
        font-family: $secondary-font;
        font-size: 1.2rem;
        color: black;
        line-height: 1.3;
				@include MQ(M) {
					font-size: 1rem;
				}
				@include MQ(XL) {
					font-size: 1.7rem;
				}
        &:first-of-type {
          margin-bottom: em(20px);
					@include MQ(XS) {
						display: none;
					}
					@include MQ(S) {
						display: none;
					}
        }
      }
      img {
        &:first-of-type {
          margin-left: em(45px);
        }
        height: 10%;
        width: 15%;
        padding: 0 5px 0 0;
				@include MQ(XS) {
					height: 13%;
					width: 13%;
					padding: 0 5px 0 0;
					&:first-of-type {
	          margin-left: 100px;
	        }
				}
				@include MQ(S) {
					height: 14%;
					width: 14%;
					padding: 0 5px 0 0;
					&:first-of-type {
	          margin-left: 100px;
	        }
				}
				@include MQ(M) {
					height: 19%;
					width: 19%;
					&:first-of-type {
	          margin-left: 10px;
	        }
				}
				@include MQ(XL) {
					height: 15%;
					width: 15%;

				}
      }
    }
  }
}

.signup {
  height: 120px;
  width: 100vw;
  background-color: black;
	@include MQ (S) {
		height: 100px;
		border-bottom: 2px solid white;

	}
	@include MQ (XS) {
		height: 100px;
		border-bottom: 2px solid white;
	}
}

.world-section {
	height: em(900px);
	background-image: url("../img/space.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	.pyramid {
		position: relative;
		.level-one {
			height: 150px;
			.gold {
			border-bottom: 150px solid white;
	    border-left: 75px solid transparent;
	    border-right: 75px solid transparent;
	    height: 0;
	    width: 0px;
			margin-right: auto;
			margin-left: auto;
			text-align: center;

				img {
					position: absolute;
					left: 365px;
					top: 40px;
					width: 30%;
				}
			}
		}
		.level-two {
			height: 150px;
			display: flex;
			justify-content: center;
			align-content: center;
			align-items: center;
			border-top: 15px solid black;
			.silver {
				border-bottom: 150px solid white;
		    border-left: 75px solid transparent;
		    border-right: 75px solid transparent;
		    height: 0;
		    width: 0px;
				padding: 0;
				position: absolute;
				left: 230px;
			}
			.white {
				border-top: 150px solid white;
		    border-left: 75px solid transparent;
		    border-right: 75px solid transparent;
		    height: 0;
		    width: 0px;
				padding: 0;
				position: relative;
			}
			.copper {
				border-bottom: 150px solid white;
		    border-left: 75px solid transparent;
		    border-right: 75px solid transparent;
		    height: 0;
		    width: 0px;
				padding: 0;
				position: absolute;
				right: 230px;
			}
		}
		.level-three {
			height: 150px;
			display: flex;
			justify-content: center;
			align-content: center;
			align-items: center;
			border-top: 30px solid black;
			.blue {
				border-bottom: 150px solid white;
		    border-left: 75px solid transparent;
		    border-right: 75px solid transparent;
		    height: 0;
		    width: 0px;
				padding: 0;
				position: absolute;
				left: 147px;
			}
			.yellow {
				border-top: 150px solid white;
		    border-left: 75px solid transparent;
		    border-right: 75px solid transparent;
		    height: 0;
		    width: 0px;
				padding: 0;
				position: absolute;
				left: 230px;
			}
			.green {
				border-bottom: 150px solid white;
		    border-left: 75px solid transparent;
		    border-right: 75px solid transparent;
		    height: 0;
		    width: 0px;
				padding: 0;
				position: relative;
			}
			.violet {
				border-top: 150px solid white;
		    border-left: 75px solid transparent;
		    border-right: 75px solid transparent;
		    height: 0;
		    width: 0px;
				padding: 0;
				position: absolute;
				right: 230px;
			}
			.orange {
				border-bottom: 150px solid white;
		    border-left: 75px solid transparent;
		    border-right: 75px solid transparent;
		    height: 0;
		    width: 0px;
				padding: 0;
				position: absolute;
				right: 147px;
			}
		}
		.level-four {
			height: 150px;
			display: flex;
			justify-content: center;
			align-content: center;
			align-items: center;
			border-top: 20px solid black;

			.gray {
				@include box-sizing(content-box);
			  width: 500px;
			  height: 0;
			  border: 75px solid transparent;
			  border-top: 0 solid;
			  border-bottom: 150px solid white;
				margin-top: 25px;
			}
		}
		.level-five {
			height: 150px;
			display: flex;
			justify-content: center;
			align-content: center;
			align-items: center;
			border-top: 20px solid black;
			padding-top: 50px;
			.brown {
				width: 250px;
				height: 150px;
				-webkit-transform: skew(-27deg);
				background: white;
				position: absolute;
				left: 160px;
			}
			.obsidian {
				@include box-sizing(content-box);
			  width: 150px;
			  height: 0;
			  border: 75px solid transparent;
			  border-top: 0 solid;
			  border-bottom: 150px solid white;
				position: relative;
			}
			.pink {
				width: 250px;
				height: 150px;
				-webkit-transform: skew(27deg);
				background: white;
				position: absolute;
				right: 160px;
			}
		}
		.level-six {
			height: 150px;
			display: flex;
			justify-content: center;
			align-content: center;
			align-items: center;
			border-top: 20px solid black;
			padding-top: 50px;
			.red {
				@include box-sizing(content-box);
			  width: 850px;
			  height: 0;
			  border: 75px solid transparent;
			  border-top: 0 solid;
			  border-bottom: 150px solid white;
				margin-top: 25px;
			}
		}
	}
}
