@import "libraries/bourbon/bourbon.scss";
@import "libraries/neat/neat.scss";
@import "_reset.scss";
@import "_variables.scss";
@import "_mixins.scss";
@import "_extends.scss";
@import "_reset.scss";

body {
	font: {
		size: 1.6rem;
		family: $primary-font;
	}
}

a {
	color: $color-3;
	text-decoration: none;
  font: {
		size: 1rem;
		family: $secondary-font;
	}
}

img {
	max-width: 100%;
}
/* --------------------------------
Header
-------------------------------- */
.nav {
  position: absolute;
  z-index: 2;
	top: 0;
	left: 0;
	width: 100vw;
  display: flex;
  padding: em(20px) em(20px);
  background: transparent;
  justify-content: flex-start;
  flex-direction: column;
	@include MQ(S) {
		background: black;
		position: static;
		padding: em(10px) em(10px);
	}
  .top-nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .left-nav {
      display: flex;
    }
    #name {
      color: #e9f1ff;
      font-size: 2rem;
      font-weight: 600;
    }
    .right-nav {
      display: flex;
      @include MQ(S) {
        display: none;
      }
      @include MQ(M) {
        display: none;
      }
    }
    li {
      margin: 0 em(10px);
    }
    .dropdown {
      margin-top: em(-2px);
      cursor: pointer;
      img {
        width: 55px;
      }
      @include MQ(L) {
        display: none;
      }
    }
  }
}
/* --------------------------------
Dropdown List
-------------------------------- */
.dropdown-container {
  display: none;
}

.dropdown-nav {
  display: flex;
  width: 100vw;
  padding: em(5px) em(15px);
  background-color: black;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  .dropdown-menu {
    height: em(50px);

    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: space-between;
    color: white;
    font-size: 0.5em;
    li {
      margin: 0 em(10px);
    }
  }
}


/* --------------------------------
Slider
-------------------------------- */

.cd-hero {
	position: relative;
	@include font-smoothing;
}

.cd-hero-slider {
	position: relative;
	height: $intro-height-S;
	overflow: hidden;
	li {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@include transform(translateX(100%));


		&.selected {
			position: relative;
			@include transform(translateX(0));
		}

		&.move-left {
			@include transform(translateX(-100%));
		}

		&.is-moving,
		&.selected {
			@include transition(transform .5s);
		}
	}

	@include MQ(M) {
		height: $intro-height-M;
	}

	@include MQ(L) {
		height: $intro-height-L;
	}
}

/* --------------------------------

Single slide style

-------------------------------- */

.cd-hero-slider {

	li {
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}

  li:first-of-type {
    background-image: url("../img/bg-red.jpg");
  }

  li:nth-of-type(2) {
    background-image: url("../img/bg-golden.jpg");
  }

	li:nth-of-type(3) {
    background-image: url("../img/bg-morning.jpg");
    h2 {
  		font-size: 3.5rem;
  	}
	}

	.cd-half-width {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
		left: 0;
		top: 0;
		padding-top: em(50px);
		text-align: center;
		@include backface-visibility(hidden);
		@include transform(translateZ(0));
	}

	.cd-img-container {

		img {
			position: absolute;
			@include center;
		}
	}

	h2, p {
		text-shadow: 0 1px 3px rgba(#000, .1);
		line-height: 1.2;
		margin: 0 auto 14px;
		color: $color-3;
		width: 90%;
		max-width: 400px;
    text-shadow: 1px 1px grey;
    text-rendering: optimizeLegibility;

	}

	h2 {
		font-size: 1.8rem;
    font-weight: 700;
	}

	p {
		font-size: 1.4rem;
		line-height: 1.4;
    font-family: $secondary-font;
    font-weight: 800;
	}

	.cd-btn {
		display: inline-block;
		padding: 1em 1em;
		margin-top: .5em;
		background-color: rgba($color-2, .9);
		font-size: 0.9rem;
		font-weight: 700;
		letter-spacing: 1px;
		color: $color-3;
		box-shadow: 0 3px 6px rgba(#000, .1);
		@include transition(background-color .2s);

		&:nth-of-type(2) {
			margin-left: 1em;
		}

		.no-touch &:hover {
			background-color: $color-2;
		}

		.no-touch &.secondary:hover {
			background-color: darken($color-1, 10%);
		}

    @include MQ(S) {
      display: none;
    }
	}

  @include MQ(S) {

		.cd-hero {
			height: 70em;
			width: 100vw;
			position: fixed;
		}

    .cd-half-width {
      display: none;
    }

		.cd-hero-slider {
			margin-top: 10px;
			height: 100%;
			width: 100%;
		}


    li:first-of-type {
      background-image: url("../img/redrising-sm.jpg");
      background-size: cover;
    }
    li:nth-of-type(2) {
      background-image: url("../img/goldenson-sm.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    li:last-of-type {
      background-image: url("../img/morningstar-sm.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
    }
  }

	@include MQ(M) {



    li:nth-of-type(3) {
      h2 {
    		font-size: 1.2em;
    	}
    }

    li:nth-of-type(2) {
      h2 {
    		// font-size: 3rem;
        margin-top: 38px;
    	}
    }

		.cd-half-width {
			padding-top: em(50px);
			width: 45%;

      &:nth-of-type(3){
        font-size: 50px;
      }


			&:first-of-type {
				left: 5%;
			}

			&:nth-of-type(2) {
				right: 5%;
				left: auto;
			}
		}

		.cd-img-container {
			display: block;
			img {
				height: em(200px);
				margin-top: 30px;
			}
		}

		h2, p {
			max-width: 520px;
		}

		h2 {
			font-size: 1.3em;
			font-weight: 300;
		}

    p {
      font-size: 0.7em;
    }

		.cd-btn {
			font-size: 1.2rem;

		}
	}

	@include MQ(L) {

    li:nth-of-type(2) {
      h2 {
        margin-top: 40px;
      }
    }

    .cd-half-width {
      padding-top: 120px;
      width: 45%;

      &:first-of-type {
        left: 5%;
      }

      &:nth-of-type(2) {
        right: 5%;
        left: auto;
      }
    }

    .cd-img-container {
      display: block;
    }

    h2, p {
      max-width: 520px;
    }

    h2 {
      padding-top: 10px;
      font-size: 2.4em;
      font-weight: 300;
    }

    .cd-btn {
      font-size: 1.4rem;
    }
  }
}
/* --------------------------------

Single slide animation

-------------------------------- */

@include MQ(M) {
	.cd-hero-slider {

		.cd-half-width {
			opacity: 0;
			@include transform(translateX(40px));
		}

		.move-left .cd-half-width {
			@include transform(translateX(-40px));
		}

		.selected .cd-half-width {
			opacity: 1;
			@include transform(translateX(0));
		}

		.is-moving .cd-half-width {
			@include transition(opacity 0s .5s, transform 0s .5s);
		}

		li.selected.from-left .cd-half-width:nth-of-type(2),
		li.selected.from-right .cd-half-width:first-of-type {
			@include transition(opacity .4s .2s, transform .5s .2s);
		}

		li.selected.from-left .cd-half-width:first-of-type,
		li.selected.from-right .cd-half-width:nth-of-type(2) {
			@include transition(opacity .4s .4s, transform .5s .4s);
		}

		li.selected h2 {
			@include transition(opacity .4s .2s, transform .5s .2s);
		}

		li.selected p {
			@include transition(opacity .4s .3s, transform .5s .3s);
		}

		li.selected .cd-btn {
			@include transition(opacity .4s .4s, transform .5s .4s, background-color .2s 0s);
		}
	}
}

/* --------------------------------

Javascript disabled

-------------------------------- */
.no-js .cd-hero-slider li {
	display: none;

	&.selected {
		display: block;
	}
}

.no-js .cd-slider-nav {
	display: none;
}

/* --------------------------------

About section

-------------------------------- */

.about {
  margin: 0;
  padding: 0;
  height: em(300px);
  width: 100vw;
  background-color: black;
  .pierce-img {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("../img/pierce.jpg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid green;
    img {
      height: 100%;
      width: 100%;
    }
    .about-box{
      height: em(300px);
      width: em(300px);
      background: transparent;
      position: absolute;
      top: 40px;
      right: 100px;
      h2 {
        font-family: $secondary-font;
        font-size: 1.5rem;
        color: black;
        text-align: center;
        margin-bottom: em(10px);
        font-weight: bold;
      }
      p {
        font-family: $secondary-font;
        font-size: 1.2rem;
        color: black;
        line-height: 1.3;
        &:first-of-type {
          margin-bottom: em(20px);
        }
      }
      img {
        &:first-of-type {
          margin-left: em(45px);
        }
        height: 10%;
        width: 15%;
        padding: 0 5px 0 0;
      }
    }
  }
}

.signup {
  height: 120px;
  width: 100vw;
  background-color: black;
}
